.dot {
  height: 4px;
  width: 4px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: inline-block;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 218px;
  height: 197px;
  border-radius: 8px;
  background-color: #ffffff;
  justify-content: flex-start;
}
.title {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 40px;
  font-weight: 500;
  width: 100%;
}
/* .titleButtonS:hover {
  cursor: pointer;
  font-weight: 600;
} */
.titleButtonN:hover {
  cursor: pointer;
  /* font-weight: 550; */
}
.titleButton:hover {
  cursor: pointer;
  /* font-weight: 550; */
}
.mainTitle {
  display: inline-block;
  padding-left: 21px;
  padding-top: 16px;
  font-weight: 600;
}
.threeDots {
  min-width: 17px;
  padding-right: 26px;
  padding-top: 24px;
}
.titleButtons {
  display: flex;
  width: 330px;
  justify-content: space-between;
  padding-top: 17px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  height: 15px;
}
.arrowI {
  width: 15px;
  height: 15px;

  display: inline-block;
}
.arrowN {
  width: 15px;
  height: 15px;
  padding-left: 1px;
}
.titleButtons p {
  display: inline-block;
}
.titleButton {
  min-width: 20px;

  cursor: pointer;
}
.titleButtonS {
  text-align: center;
  font-size: 13px;
  min-width: 50px;
  cursor: pointer;

  flex-shrink: 1;
}
.titleButtonN {
  text-align: center;
  font-size: 13px;
  min-width: 70px;
  cursor: pointer;
  display: flex;
  max-height: 15px;
}
.titleButtonN p {
  width: 67px;
}

/* 440 px */

.tbHidden {
  display: flex;
  min-width: 50px;
  justify-content: space-between;
  padding-top: 6px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  height: 15px;
  margin-top: 10px;
}
.notVisibleHidden {
  display: none;
}

.tdContainer {
  display: flex;
  justify-content: space-between;
}
.infoLevel {
  display: flex;
  justify-content: space-between;
}
.clientInfo {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
.infoLeft {
  padding-left: 12px;
}
.infoRight {
  padding-right: 21px;
}
.categoryName {
  display: inline-block;
  width: 110px;
  font-weight: 500;
}
.categoryName text {
  padding-left: 10px;
}
.param {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  width: 120px;
}
.space {
  height: 10px;
}
.showButton {
  padding-left: 22px;
  padding-top: 4px;
  color: rgba(0, 0, 0, 0.4);
}
.categoryName p {
  display: inline;
}
.calendarContainer {
  display: flex;
  flex-direction: row;
  min-width: 0;
  justify-content: space-between;
}
