* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  margin: 0;
}
p {
  margin: 0;
}
.calendarContainer {
  position: relative;
  width: 180px;
  height: 150px;
}
.calendarDays {
  width: 165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding-left: 8px;
  p {
    width: 11px;
    text-align: center;
    justify-content: center;
  }
}
.daysItself {
  display: flex;
  width: 161px;
  height: 40px;
  flex-wrap: wrap;
}
.calDays {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  display: flex;
  width: 180px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}
.month {
  font-size: 12px;
  display: flex;
  width: 200px;
  height: 20px;
  padding-left: 8px;
}
.boldM {
  font-weight: 550;
}
